.icon {
    font-family: icomoon, fantasy;
    
    line-height: 1;
    letter-spacing: normal;
}
.thestuff {
    display: flex;
}
.background {
    background-image: url(./pictures/bg.webp);
    background-size: cover;
    background-attachment: fixed;
}
.card {
    width: 240px;
    min-width: 240px;
    background-color: white;
    padding: 1rem;
    margin: 2rem;
    margin-top: 5rem;
    display: block;
}
.card--shadow {
    box-shadow: 7px 2px 5px 3px rgba(0, 0, 0, 0.361);
}
.card__photo_border {
    margin-top: -4rem;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 28%;
    border: 2px white solid;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.361);
}
.card__photo {
    width: 100%;
    object-position: center top;
    object-fit: cover;
    border-radius: 100%;
    aspect-ratio: 1/1;
}
.card__header {
    border-bottom: solid black 1px;
}
.card__header__text {
    font-size: 20px;
    margin-bottom: 5px;
    padding-top: 0.5rem;
}
.card__main {
    margin-top: 8px;
    margin-bottom: 8px;
}
.card__main__text {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}